
%btn {
    display: inline-block;
    background-color: $secondary-color;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6);
    color: $text-secondary-color;
    font-size: $base-font-size;
    font-weight: bold;
    transition: all 0.3s cubic-bezier(0.31, 0.47, 0.3, 1.64);
 
    &:hover {
        transform: scale(1.06);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}
.btn-sm {
    @extend %btn;
    padding: 4px 25px;
    line-height: 2.13;
}

.btn-md {
    @extend %btn;
    padding: 18px 20px;
    min-width: 150px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 -8px 34px 0 rgba(31, 219, 132, 0.6);
}

.btn-lg {
    @extend %btn;
    padding: 20px;
    min-width: 200px;
    letter-spacing: 1px;
}