.testimonials {
    position: relative;
    left: 25%;
    overflow: hidden;

    &-wrap {
        position: relative;
        right: 33%;
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 500px;
        padding: 80px 60px 63px 50px;
        border-radius: 6px;
        box-shadow: 12px 12px 40px 0 rgba(121, 121, 121, 0.3);
        background-color: rgba(255, 255, 255, 0.95);
        transition: all 0.5s ease-in;
        margin-right: 20px;
    
        .quote {
            max-width: 300px;
        } 
        .user-name {
            color: $primary-color;
            font-weight: bold;
        }    
       
        @include tablet {
            padding: 40px 30px;
        }
    }
    
    .swiper-slide-active {
        color: $text-secondary-color;
        background-color: $secondary-color;

        svg g {
            fill: $text-secondary-color;
        }

        .user-name{
            color: $text-secondary-color;
        }
    }

    .swiper-pagination {
        position: relative;
        top: 0;
        left: -25%;
        padding: 40px 0;

        &-bullet {
            width: 20px;
            height: 20px;
            background-color: $text-secondary-color;

            &-active {
                background-color: $secondary-color;
            }
        }
    }

    @include laptop {
        position: static;
        overflow: visible;
        padding: 0 16px;

        &-wrap {
            position: static;
        }
        
        .swiper-pagination {
            position: static;
        }
    }

}




